## Managing Datasets
---

## Arrays
### Calculate fast with `numpy`
#### read Chapter 2 of `J.VanderPlas Python Data Science Handbook`

In [ ]:
import numpy as np

In [ ]:
arr = np.array([3, 18, 4])

In [ ]:
arr[1]

In [ ]:
arr[0] = 12

In [ ]:
arr

In [ ]:
for element in arr:
    print(element)

In [ ]:
u = np.array([1, 2, 3])
v = np.array([5, 10, 15])

In [ ]:
u + v

In [ ]:
u * v

In [ ]:
mixed_array = np.array([1, 5, "hello"])

In [ ]:
mixed_array

In [ ]:
mixed_array[0] = 'this is a test. this is just a test'

In [ ]:
mixed_array

In [ ]:
len(mixed_array[0])

In [ ]:
arr

In [ ]:
arr + 10

In [ ]:
np.concatenate([np.array([1, 2]), np.array([2, 3])])

In [ ]:
numbers = list(range(10000000))

In [ ]:
# Simple power 2
m = [i ** 2 for i in numbers]

In [ ]:
# Check the speed
arr_numbers = np.array(numbers)
arr_squares = arr_numbers ** 2

In [ ]:
%%timeit
m = [i ** 2 for i in numbers]

In [ ]:
%%timeit
arr_squares = arr_numbers ** 2

In [ ]:
# Slicing and options
some_slice = arr[1:3]

In [ ]:
some_slice

In [ ]:
some_slice[0] = 100

In [ ]:
some_slice

In [ ]:
arr

In [ ]:
# Easy to extract info
arr = np.array([-5, 7, -3, 3, 12, -5])

In [ ]:
arr[arr > 0]

In [ ]:
arr > 0

In [ ]:
arr[np.array([False, True, True, False, True, True])]

In [ ]:
arr[(arr > 0) & (arr % 2 == 0)]

In [ ]:
arr[(arr > 0) | (arr % 3 == 0)]

In [ ]:
arr[~(arr > 0)]

In [ ]:
arr[arr < 0] = 0

In [ ]:
arr

In [ ]:
x = np.array([1, 2, 3, 4])
y = np.array([2, 5, 5, -7])

In [ ]:
x[y > 2]

In [ ]:
M = np.array([[1, 2, 3],
              [4, 5, 10]])

In [ ]:
M.shape

In [ ]:
M[0]

In [ ]:
M[0, 1:]

In [ ]:
M[:, 1]

In [ ]:
M

In [ ]:
M.sum()

In [ ]:
M.sum(axis=0)

In [ ]:
M.sum(axis=1)

In [ ]:
M.mean(axis=0)

Plot a bit

In [ ]:
import matplotlib.pyplot as plt

# Show plots in Jupyter
%matplotlib inline

In [ ]:
x = np.linspace(-5, 5, 21)
x

In [ ]:
x = np.linspace(-5, 5, 201)
plt.plot(x, np.sin(x), '-.', label = '$y=\sin(x)$');
plt.plot(x, np.cos(x), label = "$y=\cos(x)$");
plt.legend(loc = 1);

## Data Frames
### Manage datasets with `pandas`
#### read Chapter 3 of `J.VanderPlas Python Data Science Handbook`

In [ ]:
import pandas as pd

Series

In [ ]:
ser = pd.Series([2, 6, 12, 5])

In [ ]:
ser

In [ ]:
ser[2]

In [ ]:
algebra = pd.Series([4, 5, 3], 
                    index=['A', 'B', 'C'])

In [ ]:
algebra

In [ ]:
algebra['A']

In [ ]:
calculus = pd.Series([5, 2, 4], 
                     index=['D', 'A', 'C'])

In [ ]:
calculus

In [ ]:
algebra

In [ ]:
(calculus + algebra).sort_values()

In [ ]:
(calculus + algebra).sort_index(ascending = False)

In [ ]:
# Create own index
ser = pd.Series([0, 10, 20, 30], index = [2, 3, 4, 10])

In [ ]:
ser

In [ ]:
# Get value by index name
ser[2]

In [ ]:
ser.loc[2]

In [ ]:
# Get value by index position
ser.iloc[2]

In [ ]:
# Slice fix positions (index names)
ser[2:4]

In [ ]:
# All index names in range
ser.loc[2:4]

In [ ]:
calculus

In [ ]:
calculus['D':'C']

Data Frames

In [ ]:
df = pd.DataFrame([[3, 4, 5], [5, 2, 3]])

In [ ]:
df

In [ ]:
df = pd.DataFrame([[3, 4, 5], 
                   [5, 2, 3],
                   [5, 2, 1]], 
                  index=['Alice', 'Bob', 'Claudia'],
                  columns=['Algebra', 'Calculus', 'Macro']
                 )

In [ ]:
df

Subsetting

In [ ]:
df['Algebra']

In [ ]:
df.loc['Alice']

In [ ]:
df.loc['Alice', 'Algebra']

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0, 0]

In [ ]:
df.iloc[:, 0]

In [ ]:
df['Alice':'Bob']

In [ ]:
df.loc[:, 'Algebra':'Calculus']

In [ ]:
df[['Algebra', 'Macro']]

In [ ]:
df.loc[:, ['Algebra', 'Macro']]

In [ ]:
df.loc[['Alice', 'Bob']]

In [ ]:
df.mean(axis=0)

In [ ]:
df.mean(axis=1)

In [ ]:
df.max(axis=0)

In [ ]:
df

In [ ]:
df[df['Algebra'] > 3]

In [ ]:
df[df.Algebra > 3]

In [ ]:
df

In [ ]:
df['Micro'] = [4, 2, 5]

In [ ]:
df

In [ ]:
df.loc['Julia'] = [5, 5, 5, 5]
df

Columns Types

In [ ]:
df['last_name'] = ['Smith', 'Smith', 'Ivanova', 'Petrova']

In [ ]:
df.dtypes

In [ ]:
df.last_name

### Movie Dataset

In [ ]:
# External data frame
df = pd.read_csv("https://bit.ly/2A2zkI6")

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.head(3)

In [ ]:
df[:3]

In [ ]:
df.color.value_counts()

In [ ]:
df.color.unique()

In [ ]:
df['color'] = df['color'].str.strip()

In [ ]:
df.color.value_counts()

In [ ]:
df.color.value_counts(dropna=False, normalize=True)

Few Plots

In [ ]:
df.color.value_counts(dropna=False).plot.bar();

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(6, 6))
df.color.value_counts(dropna=False).plot.pie();

In [ ]:
# Mean imbd by county
(df.groupby('country')['imdb_score']
  .mean()
  .sort_values(ascending = False))

In [ ]:
df.groupby('country')['imdb_score'] \
  .mean() \
  .sort_index() \
  .head(3)

In [ ]:
df.groupby('country')['imdb_score'].mean()['Russia']

In [ ]:
df['title_year'].min()

In [ ]:
df['title_year'].max()

In [ ]:
df.columns

In [ ]:
df[df['country'] == 'Kyrgyzstan'][['title_year', 'movie_title']]

In [ ]:
# Multiple conditions on df
df.query('country == "USA" and color == "Black and White"')['title_year'].max()

In [ ]:
df.rename(columns={'title_year': 'year'}, inplace=True)

In [ ]:
df.columns

In [ ]:
df.drop('director_name', axis=1, inplace=True)

In [ ]:
# Show df
df

In [ ]:
df.duration[df.duration < 300].hist();

In [ ]:
df.plot(x='duration', y='imdb_score', kind='scatter');

In [ ]:
print(df.loc[df.duration.idxmin(), ['movie_title', 'duration']])
df.loc[df.duration.idxmax(), ['movie_title', 'duration']]

In [ ]:
df.groupby('year')[['duration', 'imdb_score']].mean().plot();

Last plot example

In [ ]:
(df.query('imdb_score > 8')
 .groupby('year')['duration']
 .mean().plot(title="Some graph"))
plt.tight_layout();
plt.annotate('Text Here', (1940, 150), xytext = (1945, 175),
             arrowprops={'arrowstyle': '->'});
# plt.savefig("years2.pdf")

---

# HOMETASKS

### Task 1
Here we have `pandas` data frame with columns named `First Name`, `Last Name`, and  with names of subjects, e.g `Algebra`. The table is filled by scores (integers from 0 to 5). Please, write the function `get_grade(df, lastname, firstname, subject)` which returns the score in integer format. Also suppose that there is no student with both same First and Last Names.

Table example:
```
  Last Name First Name  Algebra  Calculus  Music  Law
0       Doe       John        4         5      3    5
1     Smith      Alice        5         4      2    4
```

Output for call `get_grade(df, 'Doe', 'John', 'Algebra')` -> `4`.

In [ ]:
# RUN THIS CELL AFTER TO CHECK Task 1
def test(table, columns):
    df = pd.DataFrame(table, columns=columns)
    for row in table:
        firstname = row[columns.index('First Name')]
        lastname = row[columns.index('Last Name')]
        for j, course in enumerate(columns[2:], 2):
            assert get_grade(df, lastname, firstname, course) == row[j]

test(
    [
        ['Doe', 'John', 1, 2, 3, 4], 
        ['Smith', 'Alice', 5, 4, 2, 4]
    ], 
    columns=['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law']
)

test(
    [
        ['John', 'Doe', 1, 2, 3, 4], 
        ['Max', 'Katz', 5, 4, 2, 4]
    ], 
    columns=['First Name', 'Last Name', 'Algebra', 'Calculus', 'Music', 'Law']
)

test(
    [
        ['John', 'Doe', 1, 2, 3, 4, 3, 2], 
        ['Jennifer', 'Lopez', 5, 4, 2, 4, 1, 1],
        ['John', 'Smith', 2, 1, 4, 3, 3, 2]
    ],
    columns=['First Name', 'Last Name', 'Algebra', 'Calculus', 'Music', 'Law', 'CS', 'Physics']
)

test(
    [
        ['John', 'Doe', 1, 2, 3, 4, 3, 2], 
        ['Jack', 'Doe', 5, 4, 2, 4, 1, 1],
        ['John', 'Smith', 2, 1, 4, 3, 3, 2]
    ],
    columns=['First Name', 'Last Name', 'Algebra', 'Calculus', 'Music', 'Law', 'CS', 'Physics']
)

### Task 2
Dataframe `df` has information about student scores. Write function gpa_top(df), that makes following:
1. Add to df the column named `GPA`, where mean() score is located (if NaN exists in df, that the student has not the subject). So, calculate mean among available for each student courses.
2. Sort df by GPA descending
3. Return rows, where GPA not less than 4


Examples:

Input:
```
pd.DataFrame([['Doe', 'John', 4, 5, 3.0, 5], 
              ['Smith', 'Alice', 5, 4, float("nan"), 4]], 
             columns=['Last Name', 'First Name', 
                      'Algebra', 'Calculus', 'Music', 'Law'], index=[0, 1])
```
Output:
```
pd.DataFrame([['Smith', 'Alice', 5, 4, float("nan"), 4, 4.333333333333333], 
              ['Doe', 'John', 4, 5, 3.0, 5, 4.25]], 
             columns=['Last Name', 'First Name', 'Algebra', 
                      'Calculus', 'Music', 'Law', 'GPA'], index=[1, 0])
```

In [ ]:
# RUN FOR Task 2
import pandas as pd
def pd_repr(df):
    content = repr(df.values.tolist()).replace('nan', 'float("nan")')
    columns = repr(df.columns.tolist())
    index = repr(df.index.tolist())
    return "pd.DataFrame(%s, columns=%s, index=%s)" % (content, columns, index)

def test(table, columns, newtable, newindex):
    inp = pd.DataFrame(table, columns=columns)
    expected = pd.DataFrame(newtable, columns = columns + ['GPA'], index=newindex)
    out = gpa_top(inp)
    if len(out) == 0 and len(expected) == 0:
        return
    assert out.equals(expected), "Something goes wrong %s" % pd_repr(inp)

test([['Doe', 'John', 4, 5, 3.0, 5]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Doe', 'John', 4, 5, 3.0, 5, 4.25]], [0])
test([['Doe', 'John', 4, 5, 3.0, 5], ['Smith', 'Alice', 5, 4, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Smith', 'Alice', 5, 4, float('nan'), 4, 4.333333333333333], ['Doe', 'John', 4, 5, 3.0, 5, 4.25]], [1, 0])
test([['Doe', 'John', 1, 5, 3.0, 5], ['Smith', 'Alice', 5, 4, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Smith', 'Alice', 5, 4, float('nan'), 4, 4.333333333333333]], [1])
test([['Doe', 'John', 4, float('nan'), 3.0, float('nan')], ['Smith', 'Alice', 2, 4, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [], [])
test([['Doe', 'John', 4, float('nan'), 5.0, float('nan')], ['Smith', 'Alice', 5, 5, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Smith', 'Alice', 5, 5.0, float('nan'), 4.0, 4.666666666666667], ['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4.5]], [1, 0])
test([['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5], ['Smith', 'Alice', 5, 5, float('nan'), 4, 4, float('nan')]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law', 'Science', 'English'], [['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5.0, 4.5], ['Smith', 'Alice', 5, 5.0, float('nan'), 4.0, 4, float('nan'), 4.5]], [0, 1])
test([['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5], ['Smith', 'Alice', 5, 5, float('nan'), 4, 5, float('nan')], ['Doe', 'Alice', 4, float('nan'), 5.0, float('nan'), 4, 5], ['Smith', 'John', 5, 5, float('nan'), 3, 4, float('nan')], ['Doe', 'John', 4, float('nan'), 5.0, 2, 4, 5], ['Smith', 'Alice', 2, 2, float('nan'), 4, 4, float('nan')]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law', 'Science', 'English'], [['Smith', 'Alice', 5, 5.0, float('nan'), 4.0, 5, float('nan'), 4.75], ['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5.0, 4.5], ['Doe', 'Alice', 4, float('nan'), 5.0, float('nan'), 4, 5.0, 4.5], ['Smith', 'John', 5, 5.0, float('nan'), 3.0, 4, float('nan'), 4.25], ['Doe', 'John', 4, float('nan'), 5.0, 2.0, 4, 5.0, 4.0]], [1, 0, 2, 3, 4])

### Task 3
There is a table called `df`. Write function `get_rows_after_5(df, n)`, that returns data.frame, where `n` rows are written, beginning form 5th (including). 

For example, `get_rows_after_5(df, 1)` returns only fifth row; `get_row_after_5(df, 2)` â€” 5th and 6th rows.
Hint: Names of rows could be strings, numbers, etc.

In [ ]:
# RUN THIS CELL AFTER TO CHECK Task 3
df = pd.DataFrame([[1, 2, 3], 
                   [4, 5, 6], 
                   [7, 8, 9], 
                   [10, 11, 12], 
                   [13, 14, 15], 
                   [16, 17, 18], 
                   [19, 20, 21]])

assert get_rows_after_5(df, 1).equals(pd.DataFrame([[13, 14, 15]], index=[4]))
assert get_rows_after_5(df, 2).equals(pd.DataFrame([[13, 14, 15], [16, 17, 18]], index=[4, 5]))
assert get_rows_after_5(df, 3).equals(pd.DataFrame([[13, 14, 15], [16, 17, 18], [19, 20, 21]], index=[4, 5, 6]))


df.index = list(range(6, -1, -1))
assert get_rows_after_5(df, 1).equals(pd.DataFrame([[13, 14, 15]], index=[2]))

df.index = list('abcdefg')
df.sort_values(0, ascending=False, inplace=True)

assert get_rows_after_5(df, 1).equals(pd.DataFrame([[7, 8, 9]], index=['c']))
assert get_rows_after_5(df, 2).equals(pd.DataFrame([[7, 8, 9], [4, 5, 6]], index=['c', 'b']))

df['hello'] = list('qwertyu')

get_rows_after_5(df, 2)

assert get_rows_after_5(df, 2).equals(pd.DataFrame([[7, 8, 9, 't'], [4, 5, 6, 'y']], columns = [0, 1, 2, 'hello'], index=['c', 'b']))