# Individual Project
## Fall 2022
---
* Provide your solutions inside special code cells.
    * You can check your functions within magic cells that begin with `assert` function.
    * Points for each task are provided in parentheses.
    * Any kind of plagiarism is assessed as $0$ points for such tasks.
    * Below you can find criteria for transfer such Points to your final grade:



$
\begin{aligned}
\sum{} &\text{of pts}  &\text{Final Grade}\\
\hline
0&-3& 0 \\ 
4&-6& 1 \\ 
7&-10& 2 \\ 
11&-15& 3\\
16&-20& 4 \\
21&-25& 5 \\
26&-30& 6 \\
31&-38& 7 \\
39&-48& 8 \\
49&-54& 9 \\
55&-60& 10 \\
\end{aligned}
$

---

In [ ]:
# ENTER YOUR NAME HERE

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

### #1 (1)

Write function `is_prime(n)`, which checks `n` is prime number (returns `True`) of not (returns `False`).

In [ ]:
# CODE HERE

In [ ]:
assert(is_prime(2) and 
       is_prime(3) and 
       is_prime(139) and 
       is_prime(617) and 
       is_prime(293) and 
       not is_prime(12) and 
       not is_prime(13*7))

### #2 (4)

Let the ariphmetic expression contains brackets of two types: `( )`, `[ ]`. Each open bracket should be correctly closed within close brackets of the same type. 

Examples: 
* `5 * [1 + 2 + (3 + 4) + 5]` — correct
* `4 + (2 + `  - incorrect
* `[1 + (2 + 3] + 4)` - incorrect

Write function `check_brackets(expr)`, which take the string input with expression. Returns `True` if `expr` is correct and `False` otherwise.

In [ ]:
# CODE HERE

In [ ]:
assert check_brackets('5 * [1 + 2 + (3 + 4) + 5]')
assert not check_brackets('4 + (2 + ')
assert not check_brackets('[1 + (2 + 3] + 4)')
assert check_brackets('[]()[][[([(([]))])]]')
assert not check_brackets(']')
assert not check_brackets(')')
assert not check_brackets('[)]')
assert not check_brackets('[)()]')
assert not check_brackets('[)](')
assert not check_brackets("[[([(]))]]")
assert not check_brackets('[')
assert not check_brackets('(')
assert not check_brackets('(' * 100 + ')' * 99)
assert check_brackets('(' * 1000 + ')' * 1000)
assert not check_brackets('([' + '(' * 998 + ')' * 909 + ']')

### #3 (6)

Imagine, you help the producer to choose proper shooting days. The producer asks you to choose two days in order to ensure that the temperature in such days will be not more than 5 degree different between each other (by the absolute value). You know the weather forecast for $n$ few days (the sequence of integer numbers: $t_1,t_2,\dots,t_n$, where $i$ - the number of the days in the increasing order, $t_i$ - the temperature in the particular day). For two choosen days should be true the following: $|t_i-t_j|\leq 5$. You know also that the producer do not want to have long pauses between these days, so, you need also to minimize the distance between two particular days.

**Input**: you have the list of numbers (temperature in days, ordered by the number of the day). **Output**: write the function `mindays(list)`, that returns the minimum days of leisure (pause) in between for the producer; if no such days you can choose - return $-1$.

In [ ]:
# CODE HERE

In [ ]:
assert mindays([4, 12, -5, 8, 14]) == 1
assert mindays([10, 10, 10]) == 0
assert mindays([-20, -14, -8, -2]) == -1
assert mindays([-3, 1, -5, 8, 14]) == 0
assert mindays([-4, 2, 8, 0]) == 1
assert mindays([-4, 2, -5, 0]) == 0

### #4 (2)

Write the function `sort_by_last_name(names)`, which has the list of names and surnames on input (e.g., `["Donald Trump", "Hillary Clinton", "Gary Johnson", "Jill Stein", "Darrell Castle", "Evan McMullin"]`), and returns sorted by surnames list (do not modify the order of existing pairs name-surname). For the example above, the output should be `['Darrell Castle', 'Hillary Clinton', 'Gary Johnson', 'Evan McMullin', 'Jill Stein', 'Donald Trump']`.

In [ ]:
# CODE HERE

In [ ]:
assert sort_by_last_name(["Donald Trump", "Hillary Clinton", "Gary Johnson", "Jill Stein", "Darrell Castle", "Evan McMullin"]) == ['Darrell Castle', 'Hillary Clinton', 'Gary Johnson', 'Evan McMullin', 'Jill Stein', 'Donald Trump']
assert sort_by_last_name(["Aaa Aaa", "Aaa Bbb", "Bbb Aaa"]) == ["Aaa Aaa", "Bbb Aaa", "Aaa Bbb"]
assert sort_by_last_name(["Aaa Bbb", "Bbb Aaa", "Aaa Aaa"]) == ["Bbb Aaa", "Aaa Aaa", "Aaa Bbb"]
assert sort_by_last_name(["Alice Smith", "John Doe", "Jack Doe"]) == ["John Doe", "Jack Doe", "Alice Smith"]

### #5 (4)

Write function `sort_gradebook(gradebook)`, which has on input the list in the following form: `[first_name, last_name, grade_1, grade_2, ..., grade_n, final_grade]`, where `first_name` — student's name, `last_name` — student's surname, `grade_1, ..., grade_n` — student's grades for tests from $1$ to $n$ ($n$ — total number of tests, which is the same for particular gradebook), `final_grade` — the final grade. The function should sort `gradebook` in the following way (and return it):

- by final grade;
- if previous the same — by the first test grade;
- if previous the same — by the second test grade;
- ...
- if previous the same — by the $n$-th test grade;
- if all test grades are the same — by surname;
- if previous the same — by name.

Sort grades and names in descending order; sort surnames in ascending order.

In [ ]:
# CODE HERE

In [ ]:
from itertools import permutations
def test_sort(inp, outp):
    for i in permutations(inp):
        assert sort_gradebook(list(i)) == outp, i

test_sort([
        ['Alice', 'Smith', 2, 3, 4],
        ['John', 'Smith', 2, 3, 5]
    ], [
        ['John', 'Smith', 2, 3, 5],
        ['Alice', 'Smith', 2, 3, 4]
])

test_sort([
        ['Alice', 'Smith', 2, 3, 4],
        ['John', 'Smith', 2, 3, 4]
    ], [
    ['John', 'Smith', 2, 3, 4],
    ['Alice', 'Smith', 2, 3, 4],    
])

test_sort([
        ['Alice', 'Smith', 1, 3, 4],
        ['John', 'Smith', 2, 3, 4]
        ], [
        ['John', 'Smith', 2, 3, 4],
        ['Alice', 'Smith', 1, 3, 4]
])

test_sort([
            ['Alice', 'Smith', 1, 1, 1, 3, 4],
            ['John', 'Smith', 1, 1, 2, 3, 4]],
                         [
            ['John', 'Smith', 1, 1, 2, 3, 4],
            ['Alice', 'Smith', 1, 1, 1, 3, 4]
])

test_sort([
            ['Alice', 'Doe', 1, 1, 3, 3, 4],
            ['Alice', 'Smith', 1, 1, 3, 3, 4],
            ['John', 'Smith', 1, 1, 2, 3, 4]], 
          [
            ['Alice', 'Doe', 1, 1, 3, 3, 4],
            ['Alice', 'Smith', 1, 1, 3, 3, 4],
            ['John', 'Smith', 1, 1, 2, 3, 4]
])

test_sort([
        ['Alice', 'Doe', 1, 1, 3, 3, 4],
        ['Alice', 'Smith', 1, 1, 3, 3, 4],
        ['John', 'Smith', 2, 1, 2, 3, 4]], 
          [
        ['John', 'Smith', 2, 1, 2, 3, 4],
        ['Alice', 'Doe', 1, 1, 3, 3, 4],
        ['Alice', 'Smith', 1, 1, 3, 3, 4],
])

del test_sort

### #6 (1)
Write function `seq(a, b, filename)`, which creates the file called `filename` and writes inside there integer numbers from `a` to `b` including, each number on the separate line. Do not forget to close the file!

In [ ]:
# CODE HERE

In [ ]:
from tempfile import NamedTemporaryFile
import os

testsuite = [(10, 11), (100, 1000), (0, 10), (1, 2), (1, 1), (5, 5)]

for a, b in testsuite:
    f = NamedTemporaryFile(dir='.', delete=False)
    name = f.name
    f.close()
    try:
        seq(a, b, name)
        with open(name) as f:
            collected_output = list(map(int, f))
            assert collected_output == list(range(a, b + 1)), \
                "Incorrect output for a = {}, b = {}\n".format(a, b) + \
                "Your output:\n" + "\n".join(map(str,collected_output))
    finally:
        os.remove(name)

### #7 (4)

Function `save_bill(clientname, cart, filename)` has on input client's name, the list of goods in receipt `cart` (which consists of 3-element tuples such `(good_name, quantity, price_per_unit)`, and the file called `filename`. The function should create the file with name as stated in `filename` within the receipt formated such in the template below. All numbers should be in format with 2 decimal places.  

**Example**:
Input: `save_bill('Alice', [('Oil', 2, 100.11), ('Bread', 0.345, 90), ('Milk', 1, 50.32)], "somefile.txt")` 

**Output (the file called `somefile.txt`)**: 

    Client name: Alice

    Oil x 2.00: 200.22
    Bread x 0.34: 31.05
    Milk x 1.00: 50.32

    Total: 281.59

In [ ]:
# CODE HERE

In [ ]:
from tempfile import NamedTemporaryFile
import os

testsuite = [("Alice", [('Oil', 2, 100.11), ('Bread', 0.345, 90),
                        ('Milk', 1, 50.32)],
                        ('Client name: Alice\n\nOil x 2.00: 200.22\nBread'
                        ' x 0.34: 31.05\nMilk x 1.00: 50.32\n\nTotal: 281'
                        '.59')),
             ("Bill Clinton", [('Thing', 1, 10),
                               ('Other thing', 1.234, 32.32)],
              ('Client name: Bill Clinton\n\nThing x 1.00: 10.0'
               '0\nOther thing x 1.23: 39.88\n\nTotal: 49.88')),
             ("Claudia", [('This', 1.3, 2.12),
                          ('This', 1.6, 2.12)],
             ('Client name: Claudia\n\nThis x 1.30: 2.76\nThis'
              ' x 1.60: 3.39\n\nTotal: 6.15'))
            ]

for clientname, cart, output in testsuite:
    f = NamedTemporaryFile(dir='.', delete=False)
    name = f.name
    f.close()
    try:
        save_bill(clientname, cart, name)
        with open(name) as f:
            collected_output = f.read().strip()
            assert collected_output == output.strip(), (collected_output, output.strip())
    finally:
        os.remove(name)

### #8 (3)

Write function`weighted_sum(weights, grades, normalize)`, which returns the weighted sum of grades from the array `grades` and their weights from `weights`. For example, for `weights = np.array([0.3, 0.3, 0.4])` and `grades = np.array([7, 9, 8])` function returns the number $0.3\times 7+0.3\times 9+0.4\times 8=8.0$.

If option `normalize` is set as `True`, and the sum of weights differs from 1, so, you need to normalize your weights to get their sum equals to 1 before weighting. Otherwise, do not weigh the weights (by default option `normalize` is set as `normalize = False`). Use `numpy` arrays and methods.

In [ ]:
# CODE HERE

In [ ]:
from timeit import timeit
import numpy as np

def test(w, g, out, normalize = False):
    q = weighted_sum(np.array(w), np.array(g), normalize)
    assert np.isclose(q, out)

test([0.3, 0.3, 0.4], [7, 9, 8], 8)
test([0.1, 0.2, 0.3, 0.4], [1, 5, 3, 2], 2.8)
test([1, 2, 3, 4], [1, 5, 3, 2], 28)
test([1, 2, 3, 4], [1, 5, 3, 2], 2.8, normalize=True)

N = 1000000

test([1, 2, 3, 4], [1, 5, 3, 2], 28)

benchmark = timeit("sum([x/x for x in np.array([1]*N)])", "from __main__ import N, np", number=1)
otherbenchmark = timeit("weighted_sum(np.array([1.1]*N), np.array([1]*N), True)", 
                        "from __main__ import N, weighted_sum, np", number=1)
assert benchmark > otherbenchmark*1.7, "Toooo slow.."

### #9 (3)

Let `X` contains `np.array`, in rows - objects, in columns — features. Write the function `normalize(X)`, which normalize all features to obtain the mean equals to $0$ and standard deviation to $1$. In other words, for each column's element substract the mean value and divide the result on the column's standard deviation. 

If $X=(x_{ij})$ — given matrix, $x_{ij}$ — element in $i$-th row and $j$-th column, and $x_{\cdot j}$ — $j$-th column; so, in new matrix in $i$-th row and $j$-th column should be the following element:

$$\widehat{x}_{ij}=\frac{x_{ij}-\overline{x_{\cdot j}}}{\sigma_{x_{\cdot j}}},$$
where $\overline{x_{\cdot j}}$ — sample mean of all elements of $j$-th column, $\sigma_{x_{\cdot j}}$ — their sample standard deviation.

**Hint**: use methods `.mean()` and `.std()` with option `axis`. Do not use loops.

In [ ]:
# CODE HERE

In [ ]:
assert np.isclose(normalize(np.array([[ 1.00766597, -1.1201796 ,  2.47274732, -0.33619288,  1.50555214],
       [ 1.48986823,  0.80894409,  0.55980545,  0.67813423, -0.3187493 ]])), np.array([[-1., -1.,  1., -1.,  1.],
       [ 1.,  1., -1.,  1., -1.]])).all()
assert np.isclose(normalize(np.array([[-0.98607026],
       [ 1.93312384],
       [-0.99905497],
       [-0.95934573],
       [ 0.05295053]])), np.array([[-0.69959273],
       [ 1.87124093],
       [-0.71102792],
       [-0.67605736],
       [ 0.21543708]])).all()
assert np.isclose(normalize(np.array([[-1.63419424],
       [ 0.39451389],
       [-0.11346483],
       [ 0.56117231],
       [ 0.35460207],
       [ 1.50836012],
       [ 0.5176692 ],
       [-1.20605276],
       [ 0.7904588 ],
       [ 1.28349441]])), np.array([[-1.9874883 ],
       [ 0.15738144],
       [-0.37968359],
       [ 0.33358254],
       [ 0.11518431],
       [ 1.33500529],
       [ 0.28758849],
       [-1.53483191],
       [ 0.57599773],
       [ 1.09726401]])).all()
assert np.isclose(normalize(np.array([[-1.31158329,  2.5954087 , -1.01662736, -0.27565263,  0.52639556,
         0.58218805, -0.35961103,  0.31096071,  0.52193677, -0.41754881],
       [-0.19218836, -0.03416295,  0.80408723, -1.18733572,  0.14422448,
         0.6091103 ,  0.67617586,  0.17732224,  0.99660189, -0.07798097]])), np.array([[-1.,  1., -1.,  1.,  1., -1., -1.,  1., -1., -1.],
       [ 1., -1.,  1., -1., -1.,  1.,  1., -1.,  1.,  1.]])).all()
assert np.isclose(normalize(np.array([[-0.28368534, -0.90928588, -1.35180963],
       [ 1.30199557,  1.32081835,  1.11951334]])), np.array([[-1., -1., -1.],
       [ 1.,  1.,  1.]])).all()
assert np.isclose(normalize(np.array([[-0.34089722,  0.93727935],
       [ 0.14410815, -0.96321317],
       [-1.98355493, -0.0310602 ]])), np.array([[ 0.42383229,  1.23244371],
       [ 0.95653353, -1.21689804],
       [-1.38036582, -0.01554567]])).all()
assert np.isclose(normalize(np.array([[ 1.53033913,  0.05456373,  0.22504087, -1.16687133, -0.23619502],
       [-0.81477156,  1.96405223, -1.5506048 , -2.08082958, -0.23459537],
       [-0.80961303, -0.55950949, -1.07953561,  0.571387  , -1.03341414],
       [ 0.10526012, -2.06172783, -1.1661957 , -1.00297227, -1.02432731],
       [ 0.04661   , -0.21104596, -0.84339233,  0.22806353, -0.34655384]])), np.array([[ 1.77181211,  0.16828692,  1.84979571, -0.49193269,  0.90886342],
       [-0.96400966,  1.64710001, -1.11468608, -1.43524085,  0.91315434],
       [-0.95799169, -0.30728521, -0.32822509,  1.30214625, -1.22961355],
       [ 0.10930543, -1.47068586, -0.47290614, -0.32277035, -1.20523884],
       [ 0.04088381, -0.03741586,  0.0660216 ,  0.94779764,  0.61283463]])).all()

### #10 (2)

Data frame `df` (pandas data frame) is a students' gradebook: in first two columns: `First Name` and `Last Name`, in the following columns — grades (integers from 0 to 5 including) for different courses. Write the function `get_grade(df, lastname, firstname, course)`, which returns the grade of particular student for the specific course. Assume that there is no students with both the same name and surname. Convert the result to integer number.

**Example**:

**Input** table:

```
  Last Name First Name  Algebra  Calculus  Music  Law
0       Doe       John        4         5      3    5
1     Smith      Alice        5         4      2    4
```

**Output**: from `get_grade(df, 'Doe', 'John', 'Algebra')` is `4`.

In [ ]:
# CODE HERE

In [ ]:
def test(table, columns):
    df = pd.DataFrame(table, columns=columns)
    for row in table:
        firstname = row[columns.index('First Name')]
        lastname = row[columns.index('Last Name')]
        for j, course in enumerate(columns[2:], 2):
            assert get_grade(df, lastname, firstname, course) == row[j]

test(
    [
        ['Doe', 'John', 1, 2, 3, 4], 
        ['Smith', 'Alice', 5, 4, 2, 4]
    ], 
    columns=['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law']
)

test(
    [
        ['John', 'Doe', 1, 2, 3, 4], 
        ['Max', 'Katz', 5, 4, 2, 4]
    ], 
    columns=['First Name', 'Last Name', 'Algebra', 'Calculus', 'Music', 'Law']
)

test(
    [
        ['John', 'Doe', 1, 2, 3, 4, 3, 2], 
        ['Jennifer', 'Lopez', 5, 4, 2, 4, 1, 1],
        ['John', 'Smith', 2, 1, 4, 3, 3, 2]
    ],
    columns=['First Name', 'Last Name', 'Algebra', 'Calculus', 'Music', 'Law', 'CS', 'Physics']
)

test(
    [
        ['John', 'Doe', 1, 2, 3, 4, 3, 2], 
        ['Jack', 'Doe', 5, 4, 2, 4, 1, 1],
        ['John', 'Smith', 2, 1, 4, 3, 3, 2]
    ],
    columns=['First Name', 'Last Name', 'Algebra', 'Calculus', 'Music', 'Law', 'CS', 'Physics']
)

### #11 (1)

Let `df` is pandas data frame. Write the function `get_rows_after_5(df, n)`, which returns data frame, where `n` rows are written beginning with the 5-th row including. For instance, `get_row_after_5(df, 1)` should return only the 5-th row; and `get_row_after_5(df, 2)` — 5-th and 6-th.

In [ ]:
# CODE HERE

In [ ]:
df = pd.DataFrame([[1, 2, 3], 
                   [4, 5, 6], 
                   [7, 8, 9], 
                   [10, 11, 12], 
                   [13, 14, 15], 
                   [16, 17, 18], 
                   [19, 20, 21]])

assert get_rows_after_5(df, 1).equals(pd.DataFrame([[13, 14, 15]], index=[4]))
assert get_rows_after_5(df, 2).equals(pd.DataFrame([[13, 14, 15], [16, 17, 18]], index=[4, 5]))
assert get_rows_after_5(df, 3).equals(pd.DataFrame([[13, 14, 15], [16, 17, 18], [19, 20, 21]], index=[4, 5, 6]))


df.index = list(range(6, -1, -1))
assert get_rows_after_5(df, 1).equals(pd.DataFrame([[13, 14, 15]], index=[2]))

df.index = list('abcdefg')
df.sort_values(0, ascending=False, inplace=True)

assert get_rows_after_5(df, 1).equals(pd.DataFrame([[7, 8, 9]], index=['c']))
assert get_rows_after_5(df, 2).equals(pd.DataFrame([[7, 8, 9], [4, 5, 6]], index=['c', 'b']))

df['hello'] = list('qwertyu')

get_rows_after_5(df, 2)

assert get_rows_after_5(df, 2).equals(pd.DataFrame([[7, 8, 9, 't'], [4, 5, 6, 'y']], columns = [0, 1, 2, 'hello'], index=['c', 'b']))

### #12 (2)

In pandas data frame `grades` the table with grades is located (each row — the student, each column — the particular activity), names of students are written inside `index`. In series-object `weights`, the weights are located (the sum of the weights equals to 1). Write the function `weight_grades(grades, weights)`, which returns the series-object, where student name (on the same places in `index`) and final grade are given. **Hint**: use `.dot()` method.

In [ ]:
# CODE HERE

In [ ]:
grades = pd.DataFrame(dict(hw1=[3, 2, 2], hw2=[2, 3, 4]), index=['Alice', 
                                                             'Claudia', 
                                                             'Bob'])
weights = pd.Series([0.75, 0.25], index=['hw2', 'hw1'])
assert (weight_grades(grades, weights) == pd.Series([2.25, 2.75, 3.5],
                                                   index = ['Alice', 
                                                            'Claudia', 
                                                            'Bob'])).all()

grades = pd.DataFrame(dict(hw1=[3, 2], hw2=[2, 3], hw3=[0, 1]),
                      index=['Alice', 'Claudia'])
weights = pd.Series(dict(hw1=0.25, hw2=0.5, hw3=0.25))
assert weight_grades(grades, weights).to_dict() == {'Alice': 1.75, 
                                                    'Claudia': 2.25}

### #13 (3)

Pandas data frame `df` is a gradebook. Write the function `gpa_top(df)`, which modify `df` in the following way:

- Add column called `'GPA'`, fill it with average grade. If in particular cell `NaN` (no information) is stated (student has no such course in his/her curriculum), then average is calculated among not `NaN` values.
- Sort `df` descending by `GPA`.
- Return such rows of `df`, where `GPA` is not less than `4`.

**Hints**: Use `.sort_values()` method; `.mean()` method ignors `NaN`'s by default.

**Example**:
```python
# Input df:
pd.DataFrame([['Doe', 'John', 4, 5, 3.0, 5], 
              ['Smith', 'Alice', 5, 4, float("nan"), 4]], 
             columns=['Last Name', 'First Name', 
                      'Algebra', 'Calculus', 'Music', 'Law'], index=[0, 1])

# Output df:
pd.DataFrame([['Smith', 'Alice', 5, 4, float("nan"), 4, 4.333333333333333], 
              ['Doe', 'John', 4, 5, 3.0, 5, 4.25]], 
             columns=['Last Name', 'First Name', 'Algebra', 
                      'Calculus', 'Music', 'Law', 'GPA'], index=[1, 0])
```

In [ ]:
# CODE HERE

In [ ]:
import pandas as pd
def pd_repr(df):
    content = repr(df.values.tolist()).replace('nan', 'float("nan")')
    columns = repr(df.columns.tolist())
    index = repr(df.index.tolist())
    return "pd.DataFrame(%s, columns=%s, index=%s)" % (content, columns, index)

def test(table, columns, newtable, newindex):
    inp = pd.DataFrame(table, columns=columns)
    expected = pd.DataFrame(newtable, columns = columns + ['GPA'], index=newindex)
    out = gpa_top(inp)
    if len(out) == 0 and len(expected) == 0:
        return
    assert out.equals(expected), "Something wrong %s" % pd_repr(inp)

test([['Doe', 'John', 4, 5, 3.0, 5]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Doe', 'John', 4, 5, 3.0, 5, 4.25]], [0])
test([['Doe', 'John', 4, 5, 3.0, 5], ['Smith', 'Alice', 5, 4, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Smith', 'Alice', 5, 4, float('nan'), 4, 4.333333333333333], ['Doe', 'John', 4, 5, 3.0, 5, 4.25]], [1, 0])
test([['Doe', 'John', 1, 5, 3.0, 5], ['Smith', 'Alice', 5, 4, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Smith', 'Alice', 5, 4, float('nan'), 4, 4.333333333333333]], [1])
test([['Doe', 'John', 4, float('nan'), 3.0, float('nan')], ['Smith', 'Alice', 2, 4, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [], [])
test([['Doe', 'John', 4, float('nan'), 5.0, float('nan')], ['Smith', 'Alice', 5, 5, float('nan'), 4]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law'], [['Smith', 'Alice', 5, 5.0, float('nan'), 4.0, 4.666666666666667], ['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4.5]], [1, 0])
test([['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5], ['Smith', 'Alice', 5, 5, float('nan'), 4, 4, float('nan')]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law', 'Science', 'English'], [['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5.0, 4.5], ['Smith', 'Alice', 5, 5.0, float('nan'), 4.0, 4, float('nan'), 4.5]], [0, 1])
test([['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5], ['Smith', 'Alice', 5, 5, float('nan'), 4, 5, float('nan')], ['Doe', 'Alice', 4, float('nan'), 5.0, float('nan'), 4, 5], ['Smith', 'John', 5, 5, float('nan'), 3, 4, float('nan')], ['Doe', 'John', 4, float('nan'), 5.0, 2, 4, 5], ['Smith', 'Alice', 2, 2, float('nan'), 4, 4, float('nan')]], ['Last Name', 'First Name', 'Algebra', 'Calculus', 'Music', 'Law', 'Science', 'English'], [['Smith', 'Alice', 5, 5.0, float('nan'), 4.0, 5, float('nan'), 4.75], ['Doe', 'John', 4, float('nan'), 5.0, float('nan'), 4, 5.0, 4.5], ['Doe', 'Alice', 4, float('nan'), 5.0, float('nan'), 4, 5.0, 4.5], ['Smith', 'John', 5, 5.0, float('nan'), 3.0, 4, float('nan'), 4.25], ['Doe', 'John', 4, float('nan'), 5.0, 2.0, 4, 5.0, 4.0]], [1, 0, 2, 3, 4])

### #14 (4)
Write the function to detect the winner of votes `winner_votes(df)`, which get as an input pandas `df` and returns as a result `tuple` (list in `()` instead of `[]`) like `('winner name', votes)`. The voting is by majority for the `state` (if equal votes assume the alphabetical order prevails).

Example:

Input:
```
          state  electors  Arya Stark  Tyrion Lannister  Deineris Targarien
0    Winterfell         3         0.6               0.3                 0.1
1      Riverrun         5         0.3               0.2                 0.5
2  Vaes Dothrak         2         0.2               0.3                 0.5
```
Output:
```
("Deineris Targarien", 7)
```

**Hint**: `.idxmax()`, `.sort_index()`, `.groupby()` could be useful.

In [ ]:
# CODE HERE

In [ ]:
import random
import numpy as np

df = pd.DataFrame([['Winterfell', 3, 0.6, 0.3, 0.1],
 ['Riverrun', 5, 0.3, 0.2, 0.5],
 ['Vaes Dothrak', 2, 0.2, 0.3, 0.5]], columns=['state', 'electors', 
                                               'Arya Stark', 
                                               'Tyrion Lannister', 
                                               'Deineris Targarien'])


assert winner_votes(df) == ("Deineris Targarien", 7)

def mktable(seed):
    states = ['Florida', 'Connecticut', 'Georgia', 'Texas', 'Vermont', 
              'New Mexico', 'Illinois', 'Kentucky', 'Iowa', 'Alaska', 
              'New York', 'Massachusetts', 'Arkansas', 'Missouri', 'Kansas', 
              'Idaho', 'Wisconsin', 'Mississippi', 'Washington', 'Oklahoma', 
              'California', 'South Carolina', 'Hawaii', 'Maryland', 'Arizona', 
              'Montana', 'Ohio', 'Oregon', 'Rhode Island', 'South Dakota', 
              'Alabama', 'North Dakota', 'Virginia', 'New Jersey', 'Wyoming', 
              'Maine', 'D.C.', 'Tennessee', 'Pennsylvania', 'Nebraska', 
              'Delaware', 'Michigan', 'New Hampshire', 'Indiana', 
              'North Carolina', 'Colorado', 'West Virginia', 'Utah', 
              'Minnesota', 'Louisiana', 'Nevada']
    candidates = ['Clinton', 'Trump', 'Johnson', 'Stein', 'Castle', 
                  'McMullin']
    random.seed(seed)
    np.random.seed(seed)
    states_ = random.sample(states, random.randrange(1, len(states)))
    candidates_ = random.sample(candidates, 
                                random.randrange(1, len(candidates)))
    results = np.random.uniform(size=(len(candidates_), len(states_)))
    results = (results / results.sum(axis=0)).T
    electors = np.random.randint(1, 20, size=len(states_))
    return pd.concat([pd.Series(states_, name='state'),
                      pd.Series(electors, name='electors'), 
                      pd.DataFrame(results,
                                   columns=candidates_)], axis=1)

for i, result in enumerate([('Stein', 107), ('Clinton', 48), ('Castle', 18), 
                            ('Trump', 63), ('Johnson', 88), ('Johnson', 196), 
                            ('Johnson', 88), ('McMullin', 62), ('Trump', 51), 
                            ('Johnson', 295), ('Johnson', 79), ('Stein', 84), 
                            ('Clinton', 285), ('Trump', 84), ('Stein', 55), 
                            ('McMullin', 59), ('Clinton', 110), 
                            ('McMullin', 162), ('Johnson', 45), 
                            ('Clinton', 165), ('Castle', 156), 
                            ('Johnson', 47), ('Trump', 83), ('Trump', 287), 
                            ('Stein', 268), ('Castle', 275), ('Clinton', 235), 
                            ('Trump', 434), ('Stein', 24), ('Castle', 135), 
                            ('Trump', 99), ('Stein', 17), ('Clinton', 23), 
                            ('Clinton', 133), ('Trump', 159), ('Trump', 88), 
                            ('McMullin', 77), ('Johnson', 436), 
                            ('Stein', 211), ('Johnson', 158), ('Trump', 114), 
                            ('Castle', 259), ('Johnson', 431), 
                            ('Johnson', 19), ('Castle', 304), ('Trump', 118), 
                            ('Castle', 18), ('McMullin', 141), 
                            ('Clinton', 197), ('McMullin', 14), 
                            ('Trump', 259), ('Castle', 87), ('Trump', 171), 
                            ('Castle', 120), ('Johnson', 48), ('Stein', 54), 
                            ('Trump', 382), ('Trump', 30), ('Trump', 134), 
                            ('McMullin', 77), ('Trump', 72), ('Stein', 114), 
                            ('Clinton', 152), ('McMullin', 105), 
                            ('Clinton', 279), ('Trump', 241), ('Castle', 23), 
                            ('McMullin', 27), ('Stein', 148), ('Trump', 420), 
                            ('Castle', 42), ('Clinton', 114), ('Stein', 23), 
                            ('Castle', 68), ('Clinton', 328), 
                            ('Johnson', 149), ('Trump', 97), ('Trump', 91), 
                            ('Trump', 51), ('McMullin', 45), ('Johnson', 56), 
                            ('McMullin', 167), ('Stein', 57), ('Castle', 111), 
                            ('Stein', 477), ('McMullin', 82), 
                            ('Clinton', 173), ('Clinton', 77), ('Trump', 273), 
                            ('Trump', 43), ('Trump', 68), ('Stein', 34), 
                            ('McMullin', 185), ('Clinton', 293), 
                            ('Johnson', 138), ('Stein', 261), 
                            ('Johnson', 131), ('Johnson', 58), 
                            ('Trump', 85), ('McMullin', 283)]):
    assert winner_votes(mktable(i)) == result, "Something wrong "\
                                               "with table\n" + \
                                            str(mktable(i)) + "\nExpected " +\
                                            str(result) + "\nObtained: " + \
                                            str(winner_votes(mktable(i)))

### #15 (4)
In family of 4 people (Mom, Dad, Ann, Bob) live a hamster. One day, Mom brings the bag of nuts and leaves it in kitchen. Then, Dad comes, gives one nut to hamster, the rest nuts divides on 4 equal parts, eats the one of these parts and go away. Then, Ann comes and do the same as her father (one nut gives to hamster, rest divided by 4, eats the one). Then, Bob does the same. Then, Mom does the same. At the end, all people come to kitchen and divides the rest by 4. On this time hamster takes nothing.

What minimum number of nuts could be in the bag, when Mom brought it first time?

In [ ]:
# CODE HERE WITHIN THE ANSWER IN OUTPUT

### #16 (6)
$n$ people from different companies sit at round table. People are enumerated clockwise from $1$ to $n$. The $i$-th person is from to company $comp_i$.
You need to allocate microphones among such people before meeting stats. Assume you have an infinite number of microphones of different colour.
On the behalf of companies' ethics, the $i$-th person does not want to sit nearby the person from the other company, who has microphone of the same colour. Finally, you should allocate microphones in such the way in order to minimize the number of their colours.

**Input**: You are given with the list of people (in the proper order), in which representatives of the same company are decoded with the same integer number.

**Output**: You need to provide the minimum number of microphones' colours.

**Hint**: Write the function `min_mic(list)` in order to check your code below.

In [ ]:
# CODE HERE

In [ ]:
assert min_mic([1, 2, 1, 2, 2]) == 2
assert min_mic([1, 2, 2, 1, 2, 2]) == 2
assert min_mic([1, 2, 1, 2, 3]) == 3
assert min_mic([10, 10, 10]) == 1
assert min_mic([1, 10, 10, 10]) == 2
assert min_mic([3, 2, 1, 3, 3]) == 2
assert min_mic([3, 2, 1]) == 3
assert min_mic([3, 2, 1, 2]) == 2
assert min_mic([3, 2, 1, 1]) == 2
assert min_mic([3, 1, 1, 2, 2]) == 2
assert min_mic([1, 2, 3, 2, 2, 1, 2, 3]) == 2
assert min_mic([1, 2, 2, 1, 3]) == 2
assert min_mic([1, 2, 3, 4, 5, 6, 7, 8, 9]) == 3
assert min_mic([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) == 2

### #17 (5)
Pandas DataFrame `grades` stores students' grades for different seminars' activities. If the student does not submit the particular activity - it is marked as `NaN`. DataFrame `excuses` stores the list of several reasons of not submitting (the only valid excuse reason is illness). Some students attend classes and submit activities even if they have the valid excuse reason. The final grade is the simple ariphmetic mean from all activities' grades. If the student has missed the activity with invalid excuse - this student gets zero for this activity. If the reason was valid - this activity is not considered in the final grade calculation.

**Input Example**:
```python
import datetime
grades = pd.DataFrame([[5, np.nan, 7, np.nan], 
                       [2, np.nan,      np.nan, 4]], index=['Hermione', 'Ron'],
                     columns=pd.date_range(start="2017-02-01", freq="W", 
                                              periods=4))
excuses = pd.DataFrame([['Hermione', datetime.datetime(2017, 2, 5), 
                         'was ill'],
                        ['Hermione', datetime.datetime(2017, 2, 12), 
                         'illness'],
                        ['Ron', datetime.datetime(2017, 2, 19), 'family'],
                        ['Harry',datetime.datetime(2017, 2, 19), 
                         'quidditch']],
                      columns=['student', 'date', 'reason'])
```

Write the function `final_grades(grades, excuses)`, that takes two DataFrames and returns pandas Series object (indexes - names of students in the same order that is provided in `grades`, values - final grades).

**Output Example (based on Input Example data):**

    Hermione    4.0
    Ron         1.5
    dtype: float64

In [ ]:
# CODE HERE

In [ ]:
import pandas as pd
import numpy as np
import datetime


grades = pd.DataFrame([[5, np.nan, 7, np.nan], 
                       [2, np.nan,      np.nan, 4]], index=['Hermione', 'Ron'],
                     columns=pd.date_range(start="2017-02-01", freq="W", 
                                              periods=4))
excuses = pd.DataFrame([['Hermione', datetime.datetime(2017, 2, 5), 
                         'was ill'],
                        ['Hermione', datetime.datetime(2017, 2, 12), 
                         'illness'],
                        ['Ron', datetime.datetime(2017, 2, 19), 'family'],
                        ['Harry',datetime.datetime(2017, 2, 19), 
                         'quidditch']],
                      columns=['student', 'date', 'reason'])


assert final_grades(grades, excuses=excuses).to_dict() == {'Hermione': 4.0, 
                                                           'Ron': 1.5}

grades = pd.DataFrame([[5, np.nan, 7,      np.nan],
                       [2, np.nan, np.nan, 4]], index=['Hermione', 'Ron'],
                       columns=pd.date_range(start="2017-02-01", freq="W",
                                              periods=4))
excuses = pd.DataFrame([['Hermione', datetime.datetime(2017, 2, 5),
                         'was ill'],
                        ['Hermione', datetime.datetime(2017, 2, 12),
                         'illness'],
                        ['Ron', datetime.datetime(2017, 2, 19), 'family'],
                        ['Harry',datetime.datetime(2017, 2, 19),
                         'quidditch']],
                      columns=['student', 'date', 'reason'])

grades1 = pd.DataFrame([[np.nan, 3, np.nan, np.nan],
                        [2, np.nan, np.nan, np.nan]], index=['Hermione', 'Ron'],
                        columns=pd.date_range(start="2017-02-01", freq="W",
                                              periods=4))
excuses1 = pd.DataFrame([['Hermione', datetime.datetime(2017, 2, 5),
                         'was ill'],
                        ['Hermione', datetime.datetime(2017, 2, 12),
                         'illness'],
                        ['Ron', datetime.datetime(2017, 2, 5), 'ill or not to ill'],
                        ['Harry',datetime.datetime(2017, 2, 19),
                         'quidditch']],
                      columns=['student', 'date', 'reason'])


grades2 = pd.DataFrame([[3, 3, 3, 3, 3, 3, 3],
                        [2, 2, 2, 3, 3, 3, 2.5]], index=['Hermione', 'Ron'],
                        columns=pd.date_range(start="2017-02-01", freq="W",
                                              periods=7))
excuses2 = pd.DataFrame([['nobody', datetime.datetime(1900, 1, 1), 'no reason']],
                      columns=['student', 'date', 'reason'])

import zlib

names = ['Sonja Mahon', 'Cassidy Carnegie', 'Lashay Percy', 'Jonathan Ong',
         'Millie Gurrola', 'Shavon Voisin', 'Jackeline Virgil', 'Christena Thurman',
         'Corinne Herbert', 'Hannah Crystal', 'Laura Clay', 'Sharie Brazell',
         'Marcelina Botello', 'Zita Tinnin', 'Diedre Shawn', 'Darell Tippett',
         'Danae Hanscom', 'Oda Norling', 'Minnie Elsey', 'NObody']

compressed = b'x\x01\xadZ[\x8f\x137\x14~\xef\xaf\x98\xb7\x05)\xaaH\x80\x16^Y\xaa"\xc4B%*\x1e\xba\xe2\xc1\xec\x8e\xd8\xb4\xd9\t\x9a\x84V\xdb_\xdf\xcfs|\x9c\xcf\xd4\xce\x9c\x93E\x9a\x9d\x19\xdb\xe7~\xf3\x19g\x1f\\^>_t\xc3\x97\x1f\x870,\xba\xe5\xa2\xfb\x19\xf7G\x8b\xee\xf1a\x12\xa3\x9f\x16\x1d\xeeO\x16\x1d\xc1bB\xd1\xf4\x89\xa9\x88\x0bh\x9d\x01\x19\x10\xc4]^\xb0\xf8\xec\xb0\x18a\x97\x1f\x17?\\b\x0e\x97\x90\xc7\x0b1\x01\x1a\xa8=\x15\xba\x90nB\x99\xa01\x07t\\\x80\xc6\x15\x17V\x85\xd8 \x04l!7)\x159\x11i\xac\x08\x080AL\x86\x00\x14]3\x1eV#m\x8cA^\xd5\x82\xa8\xfa\xdaz\x02\x07\xec!2\xd0\x9eD\xd6\n\x881\x88M\x8a\x00\x06\x0c\xa3p\x07z`\x8f\x8b\x18\x88$\x00\xc5E"L*eR\x18\x01NYD\xe2b\x9fU\xe4\x8c\x111\x00ia $\xc51\xb0\x0b\x86"\xb0\x18\x14\x14\x95\x1c0h\x84e\x92\x0e(\x98\x00\xb3\x88\x0b\x12\x82\x93\x9c\x1a\'\x80\x89%%\xf5\xedS\x8c\x01zB\x15t )\xe0\x81\x85\x19\xbc\x83\x02\xee\x00\xc3\x92"\xcb\x8a\xd8E\xe7\xb0\xfc<r\x050I\xa7\xab\x91J\x16\xee@\x08\xc0\n\x01\x9e\xb0\x8a\xb0"+\x8b\xa5@\x91\xd8GJ\x15b\x90\nR\x8b\x06B5\xca#\xb2\x82z\xf29H\xe1\rwL\x81[\xba@\x0ec\x12\x1c"\x00S`\xf0\x82\x8b\x04\xd5W\x08\xa7\xaf\xe4\xfc\x03o]\xd4\'d\x83\x84`\xf9\x8d2`\x86\x8b\xb8\x83\x9d\xccA.\x11C\xc4\xc6\x90\xa0\xc46\xa0\x88\x8bXL\xc1.\x88:\xabO\xd1Dx\t\x0f\x08C\xd8\xd0"\x99\t\x9ac\x1ew\x88\n\xc8oL\x1e\x87\xa0"&\x03\xc6\x14\xe5\x00S>\xfa\xc4\x12\x84\x04$\xee\xb4\x1c\xd1\xe3\x9f\xac\xc5\x81\x8c\x15\rC\x82\x06\x17\x01\x84@\x98\xc6P\xe10\xc2\x8a\x8c\xa2\xafa\x1b\x8cA\x0f|\x89\x80\x82\x033K\x0cP@$=\xa0c\xa6\xa3< \x83\xe2\xe9\x13\x84\x81\x86\x05\xc0\xe3\x05L\x9eE\xae\x98V\x08H(2D\xc2dWP\x07\xb4B\xc5E\x0c\xb1\x8e;\xe0\xf1\x12\xa7 \x1b\x01\x89nQ\xc6i%\x020\xfe\xf2QR\x18\xcbX\x8ar\xc9\x03\xc4\xe4\xc2\x90\xc8\x91~\x82\x815\xbcD$\xf0\x10\xcb@-L1\x17\x11Qg\xa6\xc0\x02\'\x11\r\x14\xb1,\xc8QLPR@,\xe1\x8a2M\x00X\xc5\x05`\x89i\xb1vbN\x0c\x85\xa0\xd2\x98\xf4\xcb\x83\x92>d\x07\xb5\xc8\x11\xe8 \xaa`B\x01\xf7\xecf\x99\x01G\x08\xa0P\xc4R\xa7\xf4)\x80\xc0\x06\xd1B\x808\x9e\x94"n\x91?)\x8dW^\x9cd\xc3\\\x84J\xde\x810i\x04\x0e\xca\x12\x82\t\xd7D\x0e\xbaMQ\x15\xfdC\xd4I~\xe2\x02\x00\x10UR\xdf>a#\x90\xd6Y\xc0\x82\xa6\x8e"m\xa0\xe2\x0e\xe1t\xb2\x84\xc6\x1a&\xa2\xec1\xd4`5H\r\n\x98\xc3\x1d\xf2`&R\x91\x01\x91\x86|\x02\x03\x00\xbc\x90\xe4\xca\'\xa2\ti\xdc\x056/M\x13O\x13G0\x87\x12\xa4"\x10qa\x0e+b9,\x8a\x9e\x90\x00K2\x0f\xce\xa2\\&\x8b%LbUgH`\x9dBNE\xbe\x97g\xefo\xc2\xdf\xdb\xa1\xfb\xb0]\xef\xd6\xc3\xd9\xa2\xbb\x0e\xfb~\xbf\xbe\xed\x7f\xd4\x97\x07\xabGKp\x85A\xe2#\n\xf5p\xd1\x9d\xed\xb6\xb7}\xb7\xdd\xdf\xf4c7\xf6a\xb7\x1d\xce"\xb9\xb3?\xd6\xfb\xd0\xfd\xbe\x1e\x86YZ\xb3\xa4."\x95\xbe\xfbe\xb3\xeb\xeff\xe4\x82\x17T\xae\xf5F\x04y\x19\xc6~\xb3\x81(_\xbe\xf4\xfb\xfdq\xfc\x15t;\xe0\'\x02\xaf\xc20\x84\x9b\xee|\xbc\xdb\xed\xc3\xe68\x01q\xc7d\x97\xf5&\xe1\xbf\x0eW\x7f\xf5\x9b\xf5\xd0w\x1f\xd6\xe3g\x88u\xd4\xb4\xab\xc8\x1fW4m&\xe1\xd2\xa1&\xc3\xf9\xcd\xb8\xde\xed\xfb\x01.\xb9\xf9:\xde\x869\xff"d\xfe/\xc4\xba\xbf\x1e\xfb\x0ea\xf2\xcf\x0c\xfa\xaa\xe2\x06\xa0\x8dp\xe2\x8b1\xfc\x0bw\x1c\xb7\xc1\x92Th\x84\x97\xd3\xa8\x92\x17\xc9\xa8\'\xc4Ea\x0f\xc1\x7f\x13v7\xe1\xae\xfb\xad\x1f\xaff\xa2rE\xd9\xa2Qy\xbe\x1d\x11\xd5}\xf7\xaa\x1f?\xf5\xe3LX.+\xec}\x06@\x158\xf8S\xe4\x7fw\x1d\xba\xb7\xdb\x11\x81\xf9\xf9\xb87V\xa8U\x8a\xdc\xf0\xc6E\x18\xafb\x88\x87\xee\xc5v\x0f\xf7n\x8fS4\x94\x0fO\xc4S\xd2~\x1f\xf9\x1a98\x04\xf8+\x0c\xbb\xab\xed\xedq\xfdV\x14n-\x89\xec5\r\x15_\xcd\x9f\x0b\x82\xb9\xba\x16\x99\x98\n\x92\'\x15W\x94\x8a\x99\xfbKs%(\xe2\xee\xa4z\x18w\xcd\x83\xfa\x12\xba\xef\xb7\xc3\x9f\xa1\xbb\x087\xd8l\x8e\x16SK!\xd9\x0ea\x7f\x13\x86\xee\xddl\x1e\x14i|\xc2\xe6\xc0a\x9fm\xf9&|\x1dCw\xbe\tsEd>\x0b\xed\x19]\xb8El\xea\xd8d\x8b\x90\x10l\xcf\x1e\xc9fhd\x879\xbc\xd9\xc1\xd9\xa4/\x839Sk\x95\xf5\xed\xbbO\xdb\xeb9o\xdc\xcf\x82\x14\xd3\r\x0b8R\x8c\x88\xe9\xeer\x01[`\xb3\xfd\xf5\xeb8n7a&G(\xac\xef/L\xadX\xb9\xa4)\x82\xebP\xb0\xac\x9di\x8d\xbf\xbd\\\xd0>\xdb0\x85=M\x8a\xca\x9b\xea\x96\xa7\x07"Yrd{\xf7\xd9"4\xd4\x98\xd6\xe2\xb9"[6\xaca\xef\x81\x1e\x93(\xf7&V\xdd\x94\xec^\xa6~![\xd6\xd7\x8fQ-\xd6\x94s\x11\xe0\x06A\t\xb8ve*?\rkz\x1a(\xee\xf0\xb2E\xac\x1b\xd3\xb2fN{\xf9bS4Tym\xde\xa2\x97\xd4x\x9dbW\xf2kC\x16\xf3\xce4O\xca\x1c\xb0\xa4TC*W\xf0-\x8b\xca\x94\xaa\x82\xabFSaP+\xbb\x1a\x80\xa2\xb4Ii\xf4i0\xbfey\xe4YU\xe41\xfb\xb9<28E\x19\xe2\xdep\xaf5\x159\x8f\x1b\xa4<e\x81\xac\xacn\xf6\xa0sahHc\xb6r\xad\xc6\xd87\x9f\xf9\\\xf4}M\x13\xbd\\.\x9d\',\xb5\x983\x17\x84\xf9\x88q\xa5SM\x1d\x8f\xa3\ra\xe7(\xe15Wco\xb46\x80|\xd8\xd2\x88:\xb3\x9d\x0bQ$\xb5\xcd\x11\xcbg\x08\r9\xce\xc3n\xb7\xbe\xbe\xeb\xce\xc38\xf4\x9f\xd7\xfdL\x9fN\x9dq\x83\xa0/\x8a\xf9\xdb\xa9A\xd0\xacm\xb9\xa7\xa4*\xe8Ro5\xdf\xd2\xd8\x83\xa8\xcc\xae\xb4\xc5\xd9?\x8fi\x83\xbc\xafa8\x1cs\xad\xb0+R\xec\xb4I\x0fWnS\xefpJ\r\xe7\xee,\x8b\xef\x8b\xdb\x92\x84\x84\x86/Pk\xc7\xc9\xf6\xe2_~,\x08\x7f\xe7w\x14\xd5\xdbl\x04{\x87\xcb\'X\x8dp\xf2\x9cX\x90G\x1b\xd4N\xd7\xaeA\xd0t"2_\x9e<{J\xcd\xe4\xae\x1e\xb5\xa8\xdd)sLzP\xca5\xcc\xe1\x8b^\xf2\xd7!x\xec\'T$NF7\x97\xe5\xfb\xd5AS\xe0:~\\\xa3\n\xaf\xb5\xc8\\\x93\r\xe7\x07>\xb7\xd4\xca\x92%>\x96\xa4E#>\xee\x1b\xe7\xe6\xfe\xc4\xd0xyN\x15\x0c6v\xed=\xf3\xdb\xa8\xd9\xfd\x86\xee\xe0\xbb\x16d\xfb\x0eMeO\x83\xdaQ\xcd\x8b\xecNm\x93\xe7\x97\xc1\xea\xd7\xe7}~\xebM\xfb#J\x8d\xf5\xfc\xb8\xf6\xf5\xe0\n\x13\xfa\xccl$\x94\xb9\xde\x19ZZK\x8e\xf3\xc9g.\xba\xbe\xae\x87%\xd1\xb8\xb0\xb0\xe6\x1fG\x14\xcf\xb5\xef\x15\x1b\xe7\t\x11E\x11\xd9\xf0\x86\xa7\xbc\x95\xf1\x99\xb6a\xcf\xd9\xcc\xf7\x15\x87BM\x8d\xeb\xd1\xa6\xfc\xcaq4\x15|.\xd9\xb0\xaa\xf3\xfc\xc0\xb0\ry>\x9a\xe9t>\x07\xbc\x07\xbf\x88\xbad\x18\xc7O%\xd4\xac5\xcc\xe3\xa8\xeeEE\xce\xb2\xd8\x0b\x1am[\x87 \xb1\xff\xa2h\xe9\x0f\xcc\xd4\xca\xfc\xf1\x17g\xde7\xb3c}\x8d\x12G\x9a\xda\xc3T\xc9\x8a\xc6WDw%\x1b\x19\xf2 \xba\xf9\xa7\x80\xda\xb6\xe4)\xa45\xcb\xbb\xb6\xb5Z\x18:\xbeZ\x0b\xed\xc5z\xf6n\xa9\xa8s)\x05\x9c\xfb\x17\x15^\xf5\xba\xa7 \x14I\x94$8\xb1\xa9\xca)l\xfd/\xc0\x9a\xf6\x8e\x9elYQ\xdd\xb3e\xd5\xfe\xa7\xc0z\x82O^o\x14B\xfb\xc7\x01\x99\xa1A\xcb\xa3Uy\x90%\x01i)\x03E\x1a\x08\x9a#\x0bh_i\xe8\xe0\xdc7\x0b\xdf\xa6\xc8\xb2:\xa7\x86k1A\xf9\x15\xae\x95\xd0\xbc\x07\xf0\xef(9\x15\xad?\xe2\xcf\x1b\xd0\xaa}\xd9\xfc\x88\x16\x9e\x82J\x92\xe4r\xee*\xa8\xd5\xae\xdc#A\xed\x1c\xd1\xd1\xa4\xf0\xff\xa1\xa5\xc8q}]W\xf0O\xcb\x04\r\x02{=\xe5\x93\x1c\xc5\xb6\xfa\xbdH\xe0\xa4\xb7\xcbo\xfcI\xd3Jb\xd7O\x05e$\xaa+\xac\x19A\xbdf\x8eCO\x14\xf1)\x89\xda\xd2y\xe2ZU\xc0Y\xc8(\x9d\x1aF\xb5:\x98\xcaZ\x83\x92y\xcfaWg\xe3Z\xe5 \x8d\xd4\xae\xae\xfc*\xbea\xfc\xf5\x89\x7f\xb0S\xfe\xbe8\xa7\xc8j\x18\xd2\x91\xef\xb5\x06\xcaQ\xac\xc8\x18\rY<\x1dQ\xa5\x95\xb7\xcbR\xeb\x87\xcc\xadl\x99m)\xd7\xbd\xe9F\xc6\xc8\x9e\xf5\x1d\x92U\xbf\xa3<\xedS\xed<\xc8Su(\x1c\x1a\xfe\xb4t"\xd5\xfc\xb4o#E\x18\xe8V\xe03\xe4|Sj>\xec\xa3\xba\x95k\x8d9\xae\xa8\xd1\x8e!\xf1\xf1\xe1\x7f\xf1j\xaf\x8b'
data = eval(zlib.decompress(compressed).decode())

grades3 = pd.DataFrame(data[0], index=names,
                        columns=pd.date_range(start="2017-02-01", freq="D",
                                              periods=30))

excuses3 = pd.DataFrame(data[1],
                      columns=['student', 'date', 'reason']).groupby(
    ['student', 'date']).first().reset_index()

assert np.isclose(pd.Series(final_grades(grades3, excuses3).to_dict()
                           ).sort_index(),
                  pd.Series({'Shavon Voisin': 4.333333333333333, 'Sonja Mahon': 3.566666666666667,
'Darell Tippett': 3.966666666666667, 'Zita Tinnin': 4.266666666666667, 'Minnie Elsey': 4.933333333333334,
'Millie Gurrola': 3.9, 'Jackeline Virgil': 2.7, 'Sharie Brazell': 4.133333333333334, 'Cassidy Carnegie': 5.766666666666667,
'Oda Norling': 3.0, 'Christena Thurman': 4.0, 'Marcelina Botello': 5.7, 'Jonathan Ong': 4.9, 'Diedre Shawn': 5.310344827586207,
'Hannah Crystal': 4.8, 'Danae Hanscom': 4.0, 'Corinne Herbert': 3.6666666666666665, 'NObody': 4.066666666666666,
'Laura Clay': 4.466666666666667, 'Lashay Percy': 4.0}).sort_index()).all()
assert np.isclose(pd.Series(final_grades(grades, excuses).to_dict()
                           ).sort_index(),
                  pd.Series({'Hermione': 4.0, 'Ron': 1.5}).sort_index()).all()
assert np.isclose(pd.Series(final_grades(grades1, excuses1).to_dict()
                           ).sort_index(),
                  pd.Series({'Hermione': 1.0, 'Ron': 0.5}).sort_index()).all()
assert np.isclose(pd.Series(final_grades(grades2, excuses2)).sort_index(),
                  pd.Series({'Hermione': 3.0, 'Ron': 2.5}).sort_index()).all()

### #18 (5)
Let the annual fuel supply contract of the following configuration. The buyer cannot exceed the unity as a `total sum of daily contracts` quantity (during the year). In addition, the minimum sum of contracts' quantity (during the year) should not be less than 76.5% of `total sum of daily contracts` quantity. The buyer can vary daily the `daily contracts` quantity during the year in the range from `0.0009589` to `0.002884` (per `daily contract`).

Calculate and plot the area of acceptable cumulative trajectories of fuel withdrawal by the buyer. Assume 365 days a year.

In [ ]:
# CODE HERE